<script id="template_cities" type="text/x-handlebars-template">
  <div class="cities">
  </div>
</script>
  
<script id="template_city" type="text/x-handlebars-template">
  <div>
    <a href="">{{city_name}}</a>
  </div>
</script>