<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default search">
          <h4>Search by city name</h4>
          <input id="search-bar" type="text" name="" >
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            Forecast 
          </div>
        </div>
        <div class="city_info_wrapper">
          <p></p>
        </div>
      </div>
  </div>
</div>
