<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default search">
          <label for="search-bar"><h3>Search</h3></label>
          <input id="search-bar" type="text" name="" >
      </div>
    </div>
    <div class="col-md-9 city_info_wrapper">
    </div>
  </div>
</div>
